.left-pane  {

  text-align: right;
  align-self: center;
  margin-left: auto;

  .drawpad-wrapper {

    display: inline-block;
    text-align: center;

    .drawpad {
      position: relative;
      margin: 20px;

      #scale {
        border: 1px solid transparent;
        pointer-events: none;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }

      #paint {
        border: 1px solid #00000033;
        display: block;
        margin: 0 auto;
      }

      Button {
        margin: 0 10px;
      }
    }

    .tools {
      margin: 10px 20px;
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      height: 36px;

      .auto-clear-wrapper {
        margin: 0;
      }
    }

  }



}
