.right-pane {

  justify-self: center;
  align-self: center;

  .controls {
    .control-label {
      display: inline-block;
      margin: 10px;
      padding-right: 10px;
    }
    .slider {
      margin: 0;
      padding-top: 15px;
    }
  }

  .subtitle {
    padding: 30px 0 10px 0;
  }

  .notification {
    display: inline-block;
    padding: 1.25rem;
  }
}
